.header{
 background-color: #333333ee;
 padding-top: 2%;
 padding-bottom: 2%;
 color:#0e9976;
 font-family: Arial, Helvetica, sans-serif;
 height: 7%;
 border-bottom-style: solid;
 border-bottom-width: 5%;
 border-bottom-color: #0e9976;
}

body{
  margin:0px;
  overflow-x: hidden;
}

body a{
  transition: 0.3s;
}

body a:hover {
  transition: 0.7s;
}

.navbar {
    float:right !important;
    padding-right: 1%;
    padding-top: 0.5%;;
  }
  
  .navbar a {
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-width: 2px;
    border-color: #33333300;
    border-style: solid;
  }

  .navbar a.active {
    background-color: #0e9976;
    color: white;
    border-color: #0e9976;
    border-style: solid;
  }
  
  .navbar a:hover {
    background-color: white;
    color: #0e9976;
    border-color: #0e9976;

  }

  .subNav {
    position: fixed;
    left:85.8%;
    top: 12.5%;
  }
  
  .subNav a {
    overflow: hidden;
    color: white;
    background-color: #333333ee;  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-width: 2px;
    border-color: #33333300;
    border-style: solid;
  }

  .subNav a.active {
    background-color: #0e9976;
    color: white;
    border-color: #0e9976;
    border-style: solid;
  }
  
  .subNav a:hover {
    background-color: white;
    color: #0e9976;
    border-color: #0e9976;
  }

  .title {
    float: left;
    position: left;
    margin-left: 1%;
    color: white;
    font-size: 30px;
    padding-left: 1%;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
  }

.title:hover{
  font-size: xx-large;
}

.homepage {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e9976;
    padding: 8%;
    text-align: center;
    float: center;
}

.homeText{
    text-align: center;
    color:#0e9976;
    background-color: white;
    float: center;
    padding-top: 5%;
    padding-bottom: 8%;
}

  .homepageAbout{
    background-color: #333333ee;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 400%;
  }

  .homeButton a {
    background-color: #333333ee;
    color: white;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    font-size: 17px; 
    border-color: #0e9976;
    border-style: solid;
    border-width: 1;
  }

  .homeButton a:hover{
    background-color: white;
    color: #333333ee;
  }

  .footer{
    width: 100%;
    background-color: #333333ee;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.1%; }

  .footer a {
      color:white;
      text-decoration: none;
    }

.footername a:hover{
    font-size: larger;
}

  .footerButtons a {
    background-color: #0e9976;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-weight: bold;
    border-width: 1;
    margin: 0.5%;
    border-color: #0e9976;
    border-style: solid;
  }

  .footerButtons a:hover {
    background-color: white;
    color: #0e9976;
  }

  .cv {
    background-image: url("images/cv.png");
    background-color: #333333ee;
    background-size: 100%;
    background-position: center;
    text-align: center;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
    padding-top: 6%;
    padding-bottom: 17%;
    background-repeat: no-repeat;
  }

  .CVText{
    text-align: center;
    color:white;
    background-color: #333333ee;
    float: center;
    left:0px;
    padding: 3%;
    width:70%;
    margin-left: 12%;
  }

  .homeCVButton a {
    background-color: #0e9976;
    color: white;
    text-align: center;
    padding: 2%;
    border-color: #0e9976;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    font-size: 17px;
  }

  .homeCVButton a:hover{
    background-color: white;
    color: #0e9976;

  }
/*
  .portfolioHome{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e9976;
    height:50%;
    padding:2%;
    color:white;
    text-align: center;
  }

  .portCircle{
    background-color: red;
    height:40%;
    width:20%;
    border-radius: 50%;
    margin-left:50%;
  }

  .portHomeText{
    text-align: center;
  }
*/
  .pageTitle{
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: #0e9976;
    float: center;
    padding-top: 10%;
    padding-bottom:2%;
    text-align: center;
  }

  .about{
    background-color: #0e9976;
  }

  .aboutImg{
    width: 100%;
    text-align: center;
    margin:1%;
  }

  .aboutText, .aboutText a{
    padding-top: 1%;
    width: fit-content;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color:white;
    font-size: large;
    text-decoration: none;
  }
  tr, td {
    padding:1%
  } 

  .aboutLists{
    width: 100%;
    text-align: center;
    height: min-content;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding-bottom: 2%;
    list-style-position: inside;
  }

  .aboutLists h2{
    font-weight: bold;
    padding-bottom: 1%;
    text-transform: uppercase;
  }

  .aboutLists li {
    padding-right: 2%;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #333333ee;
    float: left;
    width: 15.7%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #333333ee;
    transition: 0.5s;
  }
  
  div.gallery:hover {
    border: 1px solid white;
    color: #0e9976;
    background-color: white;
    font-weight: bold;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .projects {
    left:0px;
    width: 100%;
    padding:2px;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 5%;
  }

  .websites {
    left:0px;
    width: 100%;
    padding:2px;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  .contactForm{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e9976;
    padding: 3%;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: larger;
  }
  .name {
    margin-bottom: 1%;
  }
  .email {
    margin-bottom: 1%;
  }
.subject {
  margin-bottom: 1%;
}
.message {
  margin-bottom: 1%;
  resize: both;
}

.unfinishedAlert{
  width:99.5%;
  padding-top:2%;
  padding-bottom: 2%;
  background-color: #ff000033;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  border-left-style: solid;
  border-left-color:#ff0000;
}

.portBack{
  background-color: #0e9976;
  padding-bottom: 1%;
  width: 100%;
}

.artCont{
  height:15%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.artButton a {
  background-color: #333333ee;
  color: white;
  text-align: center;
  padding: 1.5%;
  text-decoration: none;
  font-size: 17px; 
  border-color: #333333ee;
  border-style: solid;
  border-width: 1;
}

.artButton a:hover{

  background-color: white;
  color: #0e9976;
  border-color: #0e9976;
}

.slideshow-container {
  max-width: 100%;
  margin: auto;
  background-color: #0e9976;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: large;
  padding-bottom:2%;
  padding-top:7%;
  height:fit-content
}

.mySlides {
  display: none;
} 

