<<<<<<< HEAD
body{
    font-family: "League Spartan";
    color: hsl(300, 43%, 22%);
    top:0px;
    left:0px;
    margin: 0px;
}

.page{
    background-image: url(images/bg-pattern-bottom-mobile.svg), url(images/bg-pattern-top-mobile.svg);
    background-color: white;
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    width: 100%;
    top:0px;
    padding-bottom: 2%;
}

.content{
    padding-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-weight: bolder;
    position: relative;
    width: 70%;

    text-align: center;
}

.desc{
    margin-top: 5%;
    width: 65%;
    font-size: 15px;
    line-height: 20px;
    color: hsl(303, 10%, 53%);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right{
    width: 85%;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating, .rating2, .rating3{
    background-color: hsl(300, 24%, 96%);
    padding: 5%;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.stars{
    text-align: center;
    justify-content: space-between;
    width: 60%;
    margin-top: -10%;
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating-text{
    position: relative;
    margin-top: 4%;
    font-size: 75%;
    text-align: center;
    width: 102%;
    margin-left: -2%;
}

.review, .review2, .review3{
    img{
        border-radius: 100px;
        height: 25px;
    }
    background-color: hsl(300, 43%, 22%);
    padding: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 76%;
}

.review{
    margin-top: 10%;
}

.author{
    display: flex;
    font-size: 12px;
    line-height: 130%;
}

.author-info{
    padding-left: 20px;
}

.name{
    color: white;
    font-weight: bold;
}

.bio{
    color: hsl(333, 80%, 67%);
}

.info{
    color: white;
    font-size: 75%;
    margin-top: 20px;
    line-height: 120%;
}

.box{
    position: fixed;
    z-index: 9999999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

@media (min-width: 500px) {
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .page{
        position: static;
        margin-left: 7.5%;
        height: 100vh;
        width: 100vw;
        background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
    }
    .content{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .left{
        width: 432px;
    }
    .header{
        font-size: 50px;
        padding-top: 0px;
        text-align: left;
        padding-bottom: 20px;
        width: 400px;
        position: static;
        margin-top: 0%;
        margin-left: 0%;
    }
    .desc{
        position: static;
        font-size: 18px;
        text-align: left;   
        margin-left: 0%;
        width: 100%;
        line-height: 140%;
    }
    .rating, .rating2, .rating3{
        margin-top: 10px;
        width: 350px;
        padding:15px;
        margin-bottom: 0px;
    }
    .rating-text{
        margin-left: 75px;
        margin-top: -10px;
        font-weight: bold;
        font-size: 15px;
    }
    .stars{
        width: 150px;
        padding-left: 0px;
        margin-left: 0%;
    }
    .rating{
        position: static;
        margin-left: 470px;
        margin-top: -200px;
    }
    .rating2{
        position: static;
        margin-left: 520px;
        margin-top: 20px;
    }
    .rating3{
        position: static;
        margin-left: 570px;
        margin-top: 20px;
    }
    .review, .review2, .review3{
        padding: 20px;
        padding-left: 30px;;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 120px;
        width: 300px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 20px;
    }
    .review{
        margin-top: 50px;
    }
    
    .review2{
        margin-top: 70px;
    }
    
    .review3{
        margin-top: 90px;
    }
    
    .author{
        font-size: 15px;
        line-height: 20px;
    }
    .info{
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
    }
    .bottom{
        display: flex;
    }
=======
body{
    font-family: "League Spartan";
    color: hsl(300, 43%, 22%);
    top:0px;
    left:0px;
    margin: 0px;
}

.page{
    background-image: url(images/bg-pattern-bottom-mobile.svg), url(images/bg-pattern-top-mobile.svg);
    background-color: white;
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    width: 100%;
    top:0px;
    padding-bottom: 2%;
}

.content{
    padding-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-weight: bolder;
    position: relative;
    width: 70%;

    text-align: center;
}

.desc{
    margin-top: 5%;
    width: 65%;
    font-size: 15px;
    line-height: 20px;
    color: hsl(303, 10%, 53%);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right{
    width: 85%;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating, .rating2, .rating3{
    background-color: hsl(300, 24%, 96%);
    padding: 5%;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.stars{
    text-align: center;
    justify-content: space-between;
    width: 60%;
    margin-top: -10%;
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating-text{
    position: relative;
    margin-top: 4%;
    font-size: 75%;
    text-align: center;
    width: 102%;
    margin-left: -2%;
}

.review, .review2, .review3{
    img{
        border-radius: 100px;
        height: 25px;
    }
    background-color: hsl(300, 43%, 22%);
    padding: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    width: 76%;
}

.review{
    margin-top: 10%;
}

.author{
    display: flex;
    font-size: 12px;
    line-height: 130%;
}

.author-info{
    padding-left: 20px;
}

.name{
    color: white;
    font-weight: bold;
}

.bio{
    color: hsl(333, 80%, 67%);
}

.info{
    color: white;
    font-size: 75%;
    margin-top: 20px;
    line-height: 120%;
}

.box{
    position: fixed;
    z-index: 9999999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

@media (min-width: 500px) {
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .page{
        position: static;
        margin-left: 7.5%;
        height: 100vh;
        width: 100vw;
        background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
    }
    .content{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .left{
        width: 432px;
    }
    .header{
        font-size: 50px;
        padding-top: 0px;
        text-align: left;
        padding-bottom: 20px;
        width: 400px;
        position: static;
        margin-top: 0%;
        margin-left: 0%;
    }
    .desc{
        position: static;
        font-size: 18px;
        text-align: left;   
        margin-left: 0%;
        width: 100%;
        line-height: 140%;
    }
    .rating, .rating2, .rating3{
        margin-top: 10px;
        width: 350px;
        padding:15px;
        margin-bottom: 0px;
    }
    .rating-text{
        margin-left: 75px;
        margin-top: -10px;
        font-weight: bold;
        font-size: 15px;
    }
    .stars{
        width: 150px;
        padding-left: 0px;
        margin-left: 0%;
    }
    .rating{
        position: static;
        margin-left: 470px;
        margin-top: -200px;
    }
    .rating2{
        position: static;
        margin-left: 520px;
        margin-top: 20px;
    }
    .rating3{
        position: static;
        margin-left: 570px;
        margin-top: 20px;
    }
    .review, .review2, .review3{
        padding: 20px;
        padding-left: 30px;;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 120px;
        width: 300px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 20px;
    }
    .review{
        margin-top: 50px;
    }
    
    .review2{
        margin-top: 70px;
    }
    
    .review3{
        margin-top: 90px;
    }
    
    .author{
        font-size: 15px;
        line-height: 20px;
    }
    .info{
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
    }
    .bottom{
        display: flex;
    }
>>>>>>> 6384089b09558558b2ec939a00462d6d80053f1a
}