body{
    margin: 0;
    font-family: "Funnel Display", serif;
}

.pageback {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    position: fixed;
    color: white;   
}

.main404 {
    text-align: center;
    font-size: 200%;
    padding: 10%;
    padding-top: 0px;
}

.main404 h1 {
    font-size: 500%;
    margin-top: 5%;
}

.butt {
    font-size: 150%;
    margin-top: -5%;
    text-align: center;
}

.butt a {
    text-decoration: none;
    color: teal;
    background: white;
    border:white solid;
    padding: 1%;
    margin: 1%;
}

.butt a:hover {
    color: white;
    background-image: linear-gradient(to bottom right, teal, #15b295);
}