body{
    margin: 0px;
    position: absolute;
    font-family: "Funnel Display", serif;
    background-color: lightgrey;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
    font-size: small;
} 

html {
    overflow-x: hidden;
}

.header{
    background-image: linear-gradient(to bottom right, teal, #15b295);
    text-align: center;
    width: 100vw;
    padding:2%;
}

.header a{
    font-size: 30px;
    color:white;
    text-decoration: none;
}

.nav {
    display: none;
}

.menuButton hr {
    width: 25px;
    height: 1.5px;
    border: none;
    background: white;
    box-shadow: 2px 2px 10px black;
}
.menuList {
    display: none;
    background-color: white;  
    padding:5%;
    text-align: center;
}

.menuList a, .menuList a:active, .menuList a:visited {
    background-color: none;
    padding: 2%;
    line-height: 250%;
    color: teal;
    text-decoration: none;
    margin-left: 5%;
}

.backUp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 2%;
    display: none;
}

.welcome {
    text-align: center;
    padding: 5%;
    padding-bottom: 0%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 2%;
    color: teal;
    line-height: 300%;
    transition: 0.2s;
}

.welcome p {
    margin-top: -2.5%;
    margin-bottom: 2.5%;
}

.welcome h2 {
    line-height: 150%;
}

.arrows {
    margin-top: 5%;
}

.arrows a {
    color: teal;
    font-size: 150%;
}

.homeCont {
    width:78%;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    margin: auto;
    margin-top: 5%;
    padding: 1%;
    border-radius: 20px;
    transition: 0.2s;
}

.homeCards {
    background-color: white;
    width: 90%;
    margin: 3%;
    padding:2%;
    text-align: center;
    border-radius: 20px;
    transition: 0.2s;
}

.homeCards h2 {
    color: teal;
}

.homeCards p {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

price {
    font-weight: bold;
    color: teal;
}

.actionButt {
    margin: auto;
    margin-top: 7.5%;
    margin-bottom: 2.5%;
}

.actionButt a, .cvButt a{
    background-image: linear-gradient(to bottom right, teal, #15b295);
    border: 1px, solid, teal;
    color: white;
    text-decoration: none;
    padding: 3%;
}

.cvButt {
    margin: 7.5%;
    text-align: center;
}

.cvButt a {
    padding: 3%;
}

.cv, .references {
    width: 90%;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 0.1%;
    margin-top: 2%;
}

.references{
    background-image: linear-gradient(to bottom right, teal, #15b295);
}

.cv h2, .references h3 {
    text-align: center;
    color: teal;
}

.references h3, .references h3 a{
    color: white;
    font-weight: 500;
}

.cv h4 {
    margin-left: 5%;
    margin-right: 5%;
}

.cvName {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.cv li{
    font-style: italic;
    font-size: small;
    line-height: 150%;
    margin-left: 5%;
}

.cv li:last-child {
    margin-bottom: 2%;
}

.cv hr {
    margin-top: 2.5%;
    width: 40%;
    border: 0px;
    height: 0.1px;
    background-image: linear-gradient(to bottom right, teal, #15b295);
}

.pageBlock {
    width:90%;
    margin: auto;
    margin-top: 2.5%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding:2.5%;
    height: max-content;
}

.pageBlock h1 {
    color: teal;
}

.quotes {
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    width: 85%;
    padding: 4.5%;
    color: white;
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    font-style: italic;
}

.card{
    width: 80%;
    margin: auto;
    padding:2vw;
    background-color: white;
    border-radius: 20px;
    border: lightgrey solid 1px; 
    box-shadow: 2px 2px 10px lightgrey;
    margin-bottom: 5%;
    overflow-x: hidden;
    transition: 0.5s;
} 

.card i, .portCard i, .soloCard i {
    margin-top: 5%;
    font-size: 200%;
    color: teal;
}

.portCard, .soloCard {
    color: black;
    text-decoration: none;
    height: max-content;
    overflow-x: hidden;
}

.portCard hr {
    margin-top: 25px;
    width: 75%;
    height: 1px;
    border: transparent;
    background-image: linear-gradient(to bottom right, teal, #15b295);
}

.tagsCont {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 96%;
    padding: 2%;
}

.tag{
    padding: 2%;
    color:white;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    border-radius: 20px;
    border: 1px solid teal;
    font-size: smaller;
    margin: 1%;
    height: max-content;
    white-space: nowrap;
    transition: 0.5s;
}

.keyTag{
    padding: 2%;
    color: teal;
    background-color: white;
    border-radius: 20px;
    border: 1px solid teal;
    font-size: smaller;
    margin: 1%;
    text-transform: uppercase;
    font-weight: bold;
    height: max-content;
    white-space: nowrap;
    transition: 0.5s;
}

.contForm {
    padding: 5%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
    color: teal;
}

.contForm h4 a, .contForm h4 {
    text-decoration: none;
    color: teal;
    user-select: text;
}

req {
    color:red
}

form {
    margin-top: 5%;
}

form p {
    font-weight: boldF;
}

.footer{
    margin-top: 2%;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    text-align: center;
    padding: 2%;
    user-select: text;
}

.footer a{
    text-decoration: none;
    color: white;
    margin: 1%;
    user-select: text;
}

.footer i {
    font-size: 150%;
    padding: 0px;
    user-select: none;
}

.fa-droplet-slash {
    width: 95vw;
    margin: 0;
    text-align: right;
    font-size: larger;
    color: white;
}

.pageback {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    position: fixed;
    color: white;
}

.main404 {
    text-align: center;
    font-size: 200%;
    padding: 10%;
    padding-top: 0px;
}

.main404 h1 {
    font-size: 500%;
    margin-top: 5%;
}

.submit {
    font-size: 200%;
    padding: 10%;
    text-align: center;
}

.butt {
    font-size: 150%;
    margin-top: -5%;
    text-align: center;
}

.butt a {
    text-decoration: none;
    color: teal;
    background: white;
    border:white solid;
    padding: 1%;
    margin: 1%;
}

.popup {
    display: none;
    position: fixed;
    width: 90%;
    height: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin: 0;
    top:25%;
    background-image: linear-gradient(to bottom right, teal, #15b295);
    text-align: center;
    box-shadow: 2px 2px 10px teal;
    color: white;
    white-space: nowrap;
}

.popup h1 {
    margin-top: 10%;
}

.popupCol {
    width: 100%;
}

.popup a img {
    height: 4vh;
    transition: 0.5s;
}

.fa-xmark {
    position: absolute;
    text-align: center;
    font-size: 300%;
    color: red;
    left: 0;
    width: 100%;
    transition: 0.2s;
}

.popupImg {
    position: absolute;
    top: 17.5%;
    left: 5%;
    max-width: 90%;
    aspect-ratio: 1.414 / 1;
    object-fit: cover;
}

.dots {
    position: absolute;
    width: 100%;
    left:0;
    top:83%;
    font-size: 150%;
    color: lightgrey;
}

.dots i {
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.dots i.active {
    font-size: 100%;
    color: white;
}

.popupArrows {
    color:white;
    font-size: 300%;
    position: absolute;
    width: 120%;
    left: -10%;
    top:5%;
    white-space: nowrap;
    margin-top: 18%;
}

.popupArrows i {
    transition: 0.5s;
}

.fa-chevron-left {
    margin-right: 60%;
}


@media (min-width:800px){
    body, a, html {
        transition: 0.5s;
        user-select: none;
        font-size: 100%;
    }

    .menuList {
        width: 100%;
        padding: 1.5%;
        margin: 0;
    }

    .menuList a{
        font-size: 100%;
    }

    .welcome:hover, .homeCont:hover, .footer:hover, .cv:hover, .contForm:hover{
        box-shadow: 2px 2px 10px teal
    }

    .homeCont{
        margin-top: 2%;
        padding: 1%;
    }

    .homeCont, .cardCont{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 3.5%;
    }

    .homeCards {
        width: 40%;
    }

    .homeCards p {
        width: 60%;
    }

    .actionButt a{
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .actionButt a:hover, .cvButt a:hover{
        color: teal;
        text-decoration: none;
        background-color: white;
        background-image: none;
    }

    .butt a:hover {
        color: white;
        background-image: linear-gradient(to bottom right, teal, #15b295);
    }
    
    .cvButt {
        margin-top: 2.5%;
        text-align: center;
        margin-bottom: 0;
    }
    
    .cvButt a {
        padding: 1%;
    }

    .cv {
        transition: 0.5s;
    }

    .card:hover, .portCard:hover, .soloCard:hover{
        margin-top: -5px;
        margin-bottom: 5px;
        transition: 0.5s;
        background-color: lightgrey;
    }

    .pageBlock {
        width:60%;
        margin: auto;
        margin-top: 2%;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        padding:2%;
    }

    .card, .portCard, .soloCard {
        width: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 2%;
        background-color: white;
        border-radius: 20px;
        border: lightgrey solid 1px; 
        box-shadow: 2px 2px 10px lightgrey;
        transition: 0.5s;
        margin-bottom: -1%;
        color: black;
        text-decoration: none;
    }

    .quotes {
        width: 55%;
        margin-top: 2%;
        font-size: larger;
        margin-bottom: 2%;
    }

    .portCard {
        width: 50%;
    }

    .soloCard {
        width:40%;
        margin: auto;
    }

    .tag:hover{
        color:teal;
        background-color: white;
        background-image: none;
        box-shadow: 2px 2px 10px teal;
    }

    .keyTag:hover{
        color:white;
        background-image: linear-gradient(to bottom right, teal, #15b295);
        box-shadow: 2px 2px 10px teal;
    }

    .arrows a:hover, .footer a:hover, .fa-droplet-slash i:hover {
        color: lightgrey;
    }

    .portCard hr{
        display: none;
    }

    .contForm a:hover{
        text-shadow: 2px 2px 10px lightgrey;
    }
}

@media (min-width:1100px){
    .header{
        text-align: left;
        padding:1vw;
        padding-left: 3.5vw;
        width: 95.5vw;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        position: sticky;
        top: 0px;
        box-shadow: 2px 2px 10px teal
    }

    .header a{
        font-size: 100%;
        width: fit-content;
    }

    .header a:hover {
        color: lightgrey;
        font-size: 105%;
    }

    .nav{
        visibility: visible;
        display: inline;
        width: 60%;
        text-align: right;
        margin-right: 20px;
        line-height: 250%;
    }

    .nav a{
        margin-left:20px;
        background-color: white;
        border: solid white 2px;
        padding: 2%;
        color: teal;
        font-weight: bold;
    }

    .nav a:hover{
        text-shadow: none;
        color:white;
        font-weight: bold;
        background-color: transparent;
    }

    .menuButton, .menuList, .portCard hr{
        display: none;
    }

    .popup h1 {
        margin-top: 2%;
    }

    .popup a img {
        height: 10vh;
    }
    
    .popup {
        top: 12%;
        height: 75%;
        left:4%;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .popupCols {
        margin: auto;
        display: flex;
    }

    .popupCol {
        width: 50%;
    }


    .fa-xmark{
        top: 2%;
        left: 95%;
        width: fit-content;
        font-size: 250%;
        color: white;
    }

    .fa-xmark:hover {
        color: red;
    }

    .popupImg {
        position:static;
        margin-top: 10px;
        max-width: 50%;
        aspect-ratio: 1.414 / 1;
        object-fit: cover;
    }

    .popup a img:hover {
        height: 11vh;
    }

    .dots {
        position:static;
        margin-top: 1%;
        font-size: 25%;
    }

    .dots i.active {
        font-size: 200%;
        color: white;
    }

    .popupArrows {
        top: 0%;
    }

    .popupArrows i:hover {
        font-size: 110%;
        transition: 0.2s;
        text-shadow: 0px 0px 10px #15b295;
    }

}